.mainContainer{
 width:fit-content;
 display: flex;
  
}
.img{
  width: 100%;
  height: auto;

}
.description{
  text-align: left;
  padding-left: 4px;
  background-color: aqua;
  color: black;
}
.drop{
  border: 2px solid black;
  padding: 2px;
}
.accordion-body{
  padding-left: 2px;
}

