.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchFieldImages{
  margin:2.5% 1%;
  border-radius:30px;
  align-self:center;
  border: aliceblue 2px solid;
}

.searchSection{
  text-align: center;
  margin: 5px;
}

.searchField{
  border-radius: 10px;
  margin-right: 10px;
  padding: 4px;
  opacity: 0.4;
  border: aliceblue;
}

.searchSection input{
  margin-bottom: 10px;
}

.searchSection button{
  margin: 5px;
}


@keyframes colorChange {
  0%{background-color: rgb(168, 154, 168);}
  25%{background-color: yellow;}
  50%{background-color: thistle;}
  75%{background-color: pink;}
  1000%{background-color: greenyellow;}
}
.search-btn{
  border-radius: 8px;
  font-size: large;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: none;
}

.sortSection{
  text-align: center;
  margin: 10px;
}

.mainSection {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}

.mainSection img{
  border: aliceblue 2px solid;
}

.sortLabel{
  color: aliceblue;
}
